@charset "UTF-8";

header {
    min-width: 640px;
}

header .bts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header .bts .bt{
    width: 49px;
    height: 49px;
}

header .bts .bt1{
    width: 149px;
    height: 45px;
    display: inline;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 12px;
    border: 2px solid rgb(255, 102, 0);
    background: rgb(255, 124, 37);
    cursor: pointer;
    margin: 15px 5% 15px 0;
    color: white;
}

.nav {
    width: 100%;
    min-width: 640px;
    height: 80px;
    display: flex;
    justify-content: center;

}

.mainmenu > li {
    margin: 15px 8px 10px 8px;
}

.mainmenu > li:first-child{
    margin: 14px 8px 10px 0px;
}

.mainmenu > li:last-child{
    margin: 14px 0px 10px 8px;
}

.nav .bt2 {
    display: none;
}

.nav .menu{
    margin: 0px;
}

main{
    min-width: 640px;
}

main > .meinimgpail{
    width: 100%;
    height: 500px;
}

.inner{
    width: 100%;
}

.inner .contents1{
    height: 255px;
    background-size: cover;
}

.contents1 div{
    width: 400px;
    height: 200px;
    margin: 0 100px 0 0;
}

.contents1 .text h1{
    font-size: 35px;
}

.contents1 .text h2{
    font-size: 22px;
}

.contents1 .text li{
    font-size: 18px;
}

.contents4{
    min-width: 640px;
    height: 700px;
}

.contents4 h2 .swipeooo{
    width: 1024px;
}

.swiper-wrapper{
    width: 100%;
}

.contents4 .swipeooo div .swiper-slide{
    width: 620px;
    height: 450px;
}

.contents4 .swipeooo div div .text{
    height: 100px;
}

.contents4 .swipeooo div div .text h3{
    font-size: 24px;
}

.contents4 .swipeooo div div .text p{
    font-size: 16px;
}