@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트noto sans korean  */

@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
/* font-awsome v5.10 */

@import url('https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css');
/* swiper 8.4.6 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 1px solid rosybrown;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #212121;
}

header {
    width: 100%;
    min-width: 1024px;
    height: 61px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
}

header a.logo {
    width: 165px;
    height: 61px;
    background: url(/yumi/img/overwatch2/logo3.png) no-repeat;
    background-size: contain;
    margin: 0 0 0 50px;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
}

header a.logo2 {
    width: 61px;
    height: 61px;
    background: url(/yumi/img/overwatch2/logo2.png) 2px 1px no-repeat;
    background-size: contain;
    margin: 0;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
}


header .menu {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .bt {
    font-size: 24px;
    padding: 5px 22px;
    border-radius: 100px;
    border: 2px solid rgb(158, 158, 158);
    background: rgb(194, 194, 194);
    cursor: pointer;
    margin: 0 50px 0 0;
    color: white;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
}

header i.mmenu {
    display: none;
}

.nav {
    width: 100%;
    min-width: 1024px;
    height: 90px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    background: rgba(228, 238, 250, 20);
}

.nav .menu{
    margin: 0 0 0 50px;
}

/* .menu  */

.menu li, footer li { list-style-type: none; }

a { text-decoration: none; }

.mainmenu,
.mainmenu *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.mainmenu{
    display: flex;
    margin: 0 0 200px 0;
}
.mainmenu > li {
    width: 120px; 
    text-align: center;
    flex: 1 0 120px;
    margin: 25px 8px 10px 8px;
    
}

.mainmenu > li:first-child{
    margin: 25px 8px 10px 0px;
}

.mainmenu > li:last-child{
    margin: 25px 0px 10px 8px;
}

.mainmenu > li > a {
    display: block;
    height: 60px;
    line-height: 60px;
    background: rgb(214, 230, 247);
    color: black;
    border-radius: 12px;
}

.mainmenu > li > a:hover {
    border-radius: 0;
    background: rgb(200, 223, 247);
}

.mainmenu .submenu > li > a {
    display: block;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
    background: rgb(231, 240, 248);
    transition: all 0.5s;
    color: rgb(0, 0, 0);
}

.mainmenu .submenu > li:first-child{
    margin:7px 0 0 0;
}

.mainmenu .submenu > li:last-child{
    border-radius: 0 0 12px 12px;
}

.mainmenu > li > a:hover ~ .submenu > li > a{
    height: 40px;
    line-height: 40px;
    transition: all 0.5s;
}

.mainmenu > li:hover > .submenu > li > a {
    height: 40px;
    line-height: 40px;
}

.nav .bt2 {
    font-size: 24px;
    padding: 5px 30px;
    border-radius: 12px;
    border: 2px solid rgb(255, 102, 0);
    background: rgb(255, 124, 37);
    cursor: pointer;
    margin: 15px 80px 15px 0;
    color: white;
}

section i.mmmenu {
    display: none;
}

main{
    width: 100%;
}

main >  .big{
    width: 100%;
    
}

main > p{
    width: 100%;
    height: 850px;
    background: url(/yumi/img/overwatch2/mainimg.png) no-repeat ;
    background-size: 100% 100%;
    margin: 0 100px 0 0;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
    position: relative;
}

main >  p > .bt3{
    width: 186px;
    height: 58px;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 12px;
    border: 2px solid rgb(255, 102, 0);
    background: rgb(255, 124, 37);
    cursor: pointer;
    margin: 15px 80px 15px 0;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 46%;
}

.inner{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.inner .contents1{
    width: 100%;
    height: 344px;
    background: url(/img/overwatch2/img1.png) no-repeat 50% 50%;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.contents1 div{
    width: 684px;
    height: 300px;
}

.contents1 .text h1{
    font-size: 60px;
    color: white;
    font-weight: 700;
    
}

.contents1 .text h2{
    font-size: 38px;
    color: white;
    font-weight: 500;
}

.contents1 .text li{
    font-size: 24px;
    margin: 0 0 0 40px;
    color: white;
}

.inner{
    width: 1200px;
    flex-direction: column;
}

.contents2 {
    width: 100%;
    min-width: 1024px;
    display: flex;
    flex-direction: column;
}

.contents2 .cons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contents2 .cons h2{
    font-size: 45px;
    color: #1471DB;
    text-shadow: 1px 1px #052950,
    2px 2px #031a33;
}

.contents2 .cons button{
    width: 260px;
    height: 24px;
    border: 2px solid rgb(255, 102, 0);
    background: rgb(255, 124, 37);
    cursor: pointer;
    color: white;
    font-weight: 500;
    position: absolute;
    right: 0;
    bottom: 1px;
}

.contents2 .cons2{
    width: 100%;
    display: flex;

}

.contents2 .cons2 img {
    width: 300px;
    height: 374px;
}

.contents2 .cons2 .swipeili{
    width: 900px;
    height: 374px;
    padding: 10px;
}

.contents2 .cons2 .swipeili .swiper-wrapper{
    width: 100%;
    height: 320px;
    position: relative;
}

.contents2 .cons2 .swipeili .swiper-wrapper .ss1{
    background: url(/img/overwatch2/ss1.png) 0px -29px no-repeat;
    background-size: contain;
}
.contents2 .cons2 .swipeili .swiper-wrapper .ss2{
    background: url(/img/overwatch2/ss2.png) 0px -29px no-repeat;
    background-size: contain;
}
.contents2 .cons2 .swipeili .swiper-wrapper .ss3{
    background: url(/img/overwatch2/ss3.png) 0px -7px no-repeat;
    background-size: contain;
}
.contents2 .cons2 .swipeili .swiper-wrapper .ss4{
    background: url(/img/overwatch2/ss4.png) 0px -29px no-repeat;
    background-size: contain;
}
.contents2 .cons2 .swipeili .swiper-wrapper .ss5{
    background: url(/img/overwatch2/ss5.png) 0px -29px no-repeat;
    background-size: contain;
}
.contents2 .cons2 .swipeili .swiper-wrapper .ss6{
    background: url(/img/overwatch2/ss6.png) 0px -29px no-repeat;
    background-size: contain;
}




.contents2 .cons2 .swipeili div .swiper-slide .text1{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background: rgb(11, 24, 71);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contents2 .cons2 .swipeili div .swiper-slide .text1 h3{
    width: 100%;
    height: 50px;
}

.contents3 {
    width: 100%;
    height: 341px;
    padding: 15px 0 65px 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 42px;
    background: url(/img/overwatch2/sky.png) no-repeat;
    background-size: auto;
}

.contents3 h2{
    font-size: 45px;
    color: white;
}

.contents3 > .bt4{
    width: 868px;
    height: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 209px;
}

.contents3 > .bt4 button{
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.icon1{
    background: url(/img/overwatch2/rush.png) 50% 50% no-repeat;
    background-size: contain;
    border: none;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.icon2{
    background: url(/img/overwatch2/Attack.png) 50% 50% no-repeat;
    background-size: contain;
    border: none;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.icon3{
    background: url(/img/overwatch2/Support.png) 50% 50% no-repeat;
    background-size: contain;
    border: none;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.contents4{
    width: 100%;
    height: 800px;
    min-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents4 h2{
    font-size: 45px;
    font-weight: 600;
    margin: 30px;
    font-size: 45px;
    color: #1471DB;
    text-shadow: 1px 1px #052950,
    2px 2px #031a33;
}

.contents4 .swipeooo{
    width: 1440px;
    height: 630px;
    padding: 10px;
}

.contents4 .swipeooo div .swiper-slide{
    width: 739px;
    height: 583px;
    position: relative;
}

.contents4 .swipeooo div .s1{
    background: url(/img/overwatch2/s1.jpg) no-repeat;
    background-size: cover;
    border-radius: 25px;
    
}

.contents4 .swipeooo div .s2{
    background: url(/img/overwatch2/s2.jpg) no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.contents4 .swipeooo div .s3{
    background: url(/img/overwatch2/s3.png) no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.contents4 .swipeooo div .s4{
    background: url(/img/overwatch2/s4.png) no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.contents4 .swipeooo div .s5{
    background: url(/img/overwatch2/s5.png) no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.contents4 .swipeooo div .s6{
    background: url(/img/overwatch2/s6.jpg) no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.contents4 .swipeooo div .s7{
    background: url(/img/overwatch2/s7.jpg) no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.contents4 .swipeooo div .s8{
    background: url(/img/overwatch2/s8.png) no-repeat;
    background-size: cover;
    border-radius: 25px;
}



.contents4 .swipeooo div div .text{
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0px;
    background: rgba(11, 24, 71, 60%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 0 0 25px 25px;
}

.contents4 .swipeooo div div .text h3{
    width: 180px;
    height: 100%;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents4 .swipeooo div div .text h3::after{
    width: 2px;
    height: 80px;
    background: #5555556b;
    content: "";
    position: absolute;
    top: 24px;
    left: 232px;
}

.contents4 .swipeooo div div .text p{
    width: 650px;
    height: 100%;
    font-size: 20px;
}

.swiper-button-next,
.swiper-button-prev{
    color: rgba(255, 255, 255, 0.534);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{color: rgba(255, 255, 255, 0.767);}


footer{
    width: 100%;
    height: 366px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20% 0 20%;
    background: #0E1632;
    /* position: relative; */

}

footer section{
    width: 100%;
    height: 366px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .bullogo{
    width: 400px;
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 47px;
}

footer .bullogo .logo3{
    width: 170px;
    height: 88px;
    background: url(/img/overwatch2/logo1.png) no-repeat;
    background-size: contain;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
}

footer .bullogo > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer .bullogo > div p{
    font-size: 18px;
    color: #7B7D89;
    font-weight: 600;
}

span.app {
    font-size: 20px;
    vertical-align: middle;
}

footer .bullogo > div a {
    color: #1AA7F9;
}

span.logo4{
    width: 29px;
    height: 29px;
    background: url(/img/overwatch2/logo4.png) 50% 50% no-repeat;
    background-size: contain;
    display: inline-block;
    text-indent: -9000px;
    overflow: hidden;
    vertical-align: middle;
}




footer .overlogo{
    width: 100%;
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    color: white;
    gap: 20px;
}

footer .overlogo h2{
    width: 100%;
    height: 70px;
    font-size: 55px;
    background: url(/img/overwatch2/overwatch2logow.png) 50% 50% no-repeat;
    background-size: contain;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
    text-align: center;
}

footer .overlogo div .Game{
    font-size: 17px;
    display: flex;
    justify-content: center;
    color: #7B7D89;
    font-weight: 600;
}

footer .overlogo div .Game span{
    margin: 0 10px 0 10px;
    position: relative;
    cursor: pointer;

}

.Game span::after{
    width: 1px;
    height: 12px;
    background: #555;
    content: "";
    position: absolute;
    top: 7px;
    right: -10px;
}

.Game span:last-child::after{
    display: none;
}


footer .overlogo div .Law{
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: #7B7D89;
    font-weight: 600;
}

footer .overlogo div .Law span{
    margin: 0 10px 0 10px;
    position: relative;
    cursor: pointer;
}

.Law span::after{
    width: 1px;
    height: 8px;
    background: #555;
    content: "";
    position: absolute;
    top: 4px;
    right: -10px;
}

.Law span:last-child::after{
    display: none;
}

footer ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 53px;
    font-size: 30px;
}

footer li{
    cursor: pointer;
}

footer li span{
    font-size: 15px;
}






/* footer > div:first-child::after {
    width: 1px;
    height: 366px;
    background: #ccc;
    content: "";
    position: absolute;
    left: 700px;
    
} */